/*USER PARTIAL*/
.playlist_title {
	margin-left: 50px;
}
/*.show_more{
	text-align: center;
}*/

/*BROWSE PARTIAL*/
.playlist_select {
	display: inline;
	margin-right: 20px;
}
.playlist_select select{
	background: transparent;
	width: 150px;
	padding: 5px;
	font-size: 1.1em;
	line-height: 1;
	border: 0;
	height: 34;
}
.play_icon{
	margin-right: 10px;
}
.add_icon{
	font-size: 1.3em;
	color: #1E90FF;
}

/*PLAYLIST PARTIAL*/
.trash_icon{
	font-size: 1.3em;
	color: white;
}

/*FOLLOW PARTIAL*/
.view_page{
	color: white;
	margin-right: 10px;
}