<div class='row'>
<h3 class="playlist_title">You are following...</h3>
<div class="col-sm-10 col-sm-offset-1">
	<table class="table">
	  	<thead>
		  	<tr>
		  		<th>Following</th>
		  		<th>Follow Date</th>
		  		<th>Action</th>
		  	</tr>
	  	</thead>
	  	<tbody>
			<tr>
				<td>Ted</td>
				<td>03-20-2014</td>
				<td>
					<a href='#/followed_playlist' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>
			<tr>
				<td>Rory</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>
			<tr>
				<td>Young</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>								
			<tr>
				<td>Andrew</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>								
			<tr>
				<td>Eric</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>								
			<tr>
				<td>Hyojin</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>								
			<tr>
				<td>Maric</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>								
			<tr>
				<td>Jeffrey</td>
				<td>03-20-2014</td>
				<td>
					<a href='' class='view_page'><span class="glyphicon glyphicon-user"></span> View Page</a>
					<button ng-click='' class="btn btn-xs btn-danger">Unfollow</button>
				</td>
			</tr>
	  	</tbody>
	</table>
</div>